body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
    /* background-color: rgb(206, 229, 238); */
    background-color: #8ecae6
}

h1 {
    font-size: 3em;
    letter-spacing: .05em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
    color: #fb8500
}

main { 
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 3em;
}

header {
    text-align: center;
    margin: auto 2em;
    /* background-color: #219ebc; */
    background-color: darkcyan;
    background-image: url("images/Linkedin-Banner.png");
    background-blend-mode: soft-light;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
    font-size: 1.2em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2 {
    font-weight: 100;
    margin-bottom: 0;
}

#mainLeft {
    border-right: 1px solid lightgray;
    background-color: #023047;
    color: antiquewhite;
    font-size: 1.1em;
 }

#mainRight {
    border-right: 1px solid lightgray;
    background-color: #023047;
    color: antiquewhite;
    font-size: 1.1em;
 }


 img {
    border-radius: 50%;
    width: 15em;
    height: 15em; 
  }

  .column-header {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
#contact {
color: antiquewhite;
}

  .column-header-title {
    float: left;
    width: 45%;
    /* color: rgb(9, 95, 176); */
    /* color: #023047; */
    color: antiquewhite;
  }
  
  /* Clearfix (clear floats) */
  .row-header::after {
    content: "";
    clear: both;
    display: table;
  }

  .fas {
    color: aqua;
    font-size: small;
  }

  .fab , .fa , a{
    color: antiquewhite;
    font-size: 1.2em;
    font-weight: bold;
    
  }